<bdb-ml-header back='FALSE' close='FALSE'></bdb-ml-header>
<div class="mainContent">
  <div class="mainContent-formContainer">
    <h1>Nuevo Usuario</h1>
    <div class="mainContent-formContainer-box">
      <app-form (currentList)="userList($event)"></app-form>
    </div>
  </div>
  <div class="mainContent-tableContainer">
    <div class="mainContent-tableContainer-box">
      <h1>Usuarios registrados</h1>
      <app-table [currentUser]="currentUser" [usersList]="usersList"></app-table>
    </div>
  </div>
</div>
